
<div class="container-fluid min-vh-100 border">
    <p>services-offer works!</p>
    <div class="row row-cols-1 grid g-4">
        <div class="col">
            <div class="row h-100  min-vh-100">
                <div class="col-12">
                    <div class="p-3 h-100">
                        <div class="row h-25 border">
                            <div class="col">
                                
                            </div>
                        </div>
                        <div class="row h-50 border p-5">
                            <div class="col" *ngFor="let number of numbers">
                                <div class="card" style="width: 18rem;">
                                    <div class="card-body">
                                      <h5 class="card-title">Card title</h5>
                                      
                                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                      <a href="#" class="card-link">Card link</a>
                                      <a href="#" class="card-link">Another link</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>

        
    </div>
</div>