<div class="container my-5">
    <h1 class="mb-3">Employees</h1>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end"><i class="bi bi-plus-circle-fill btn" style="font-size: 30px;"></i></div>
    <table class="table" *ngIf="users && users.length > 0">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Join Date</th>
                <th>Deleted Date</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">
                <td>{{user.id}}</td>
                <td>{{user.userName}}</td>
                <td>{{user.emailAddress}}</td>
                <td>{{user.createdDate}}</td>
                <td>{{user.deletedDate}}</td>
                <td><a
                     class="bi bi-person btn btn-success"
                     (click)="getUserDetails(user.id)"
                     data-bs-toggle="modal" data-bs-target="#user-details-modal">
                     User Details</a>
                     <a class="bi bi-pencil-square btn btn-primary"
                     (click)="getUserDetails(user.id)"
                     data-bs-toggle="modal" data-bs-target="#user-edit-details-modal" >
                        Edit User
                    </a>
                    &nbsp;
                    <a class="bi bi-trash btn btn-danger">
                        Delete User
                    </a>
                </td>
                
            </tr>
        </tbody>
    </table>
    <app-user-details [user]="user"></app-user-details>
    <app-user-edit-details [user]="user"></app-user-edit-details>
    <p *ngIf="!users || users.length <= 0">No users found</p>

</div>

