

<div class="container my-5">
    <p>transactions works!</p>
    <table class="table" *ngIf="transactions && transactions.length > 0">
        <thead>
            <tr>
                <th>No</th>
                <th>Dateissued</th>
                <th>RefNo</th>
                <th>NetTotal</th>
                <th>Balance Due</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let transaction of transactions">
                <td>{{transaction.no}}</td>
                <td>{{transaction.dateissued}}</td>
                <td>{{transaction.refNo}}</td>
                <td>{{transaction.netTotal}}</td>
                <td>{{transaction.balanceDue}}</td>
            </tr>
        </tbody>
    </table>
</div>