<section class="introduction section">
    <div class="section-inner">
        
        <div class="content">
            <div class="item">
                <img class="profile-image img-responsive pull-left" src="assets/images/profile.png" alt="James Lee" />
                
                    <h3 class="name">James Lee</h3>
                    <h2 class="desc">Web App Developer</h2>   
                    <ul class="social list-inline">

                    </ul> 
                
                <a class="btn btn-cta-primary pull-right" href="http://themes.3rdwavemedia.com/" target="_blank"><i class="fa fa-paper-plane"></i> Contact Me</a>
            </div>
        </div>
    </div>
</section>
        





