<div class="container-fluid min-vh-100 introduction border">
    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col min-vh-100">
            <div class="row min-vh-100">
                <div class="col-12">
                    <div class="p-3 border bg-light h-100">
                        <!-- Introduction area -->
                        <p>
                            1
                        </p>
                    </div>
                </div>
        
                <div class="col-12">
                        <div class="row p-5">
                            <div class="col">
                                <div class="row d-flex p-5">
                                    <div class="col-3">
                                        <button class="hire-btn btn btn-primary position-absolute start-46 top-50">1</button>
                                    </div>
                                    <div class="col-3">
                                        <button class="download-cv-btn btn btn-success position-absolute start-45 top-50">2</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="row h-100  min-vh-100">
                <div class="col-12">
                    <div class="p-3 h-100 border bg-light">2</div>
                </div>
            </div>
        </div>
    </div>
</div>
