
<div class="container-fluid min-vh-100 border">
    <p>feedback works!</p>
    <div class="row row-cols-1 grid g-4">
        <div class="col">
            <div class="row min-vh-100">
                <div class="col-12">
                    <div class="p-3">
                        <div class="row" >
                            <div class="col">
                                <div  id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
                                    <div class="carousel-inner">
                                      <div class="carousel-item active position-related" data-bs-interval="10000">
                                        <div class="bd-placeholder-img bd-placeholder-img-lg d-block w-100">
                                            <div class="row p-5 d-flex justify-content-md-center text-center" >
                                                <div class="col-3 m-3" *ngFor="let number of numbers" >
                                                    <div class="card" style="width: 18rem;">
                                                        <div class="card-body">
                                                          <h5 class="card-title">Card title</h5>
                                                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                                          <a href="#" class="btn btn-primary">Go somewhere</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="carousel-caption d-none d-md-block">
                                        </div>
                                      </div>
                                      <div class="carousel-item" data-bs-interval="2000">
                                        <div class="row p-5 d-flex justify-content-md-center text-center" >
                                            <div class="col-3 m-3" *ngFor="let number of numbers" >
                                                <div class="card justify-content-md-center" style="width: 18rem;">
                                                    <div class="card-body justify-content-md-center">
                                                      <h5 class="card-title">Card title</h5>
                                                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                                      <a href="#" class="btn btn-primary">Go somewhere</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                      </div>
                                      <div class="carousel-item">
                                        <div class="row p-5 d-flex justify-content-md-center text-center" >
                                            <div class="col-3 m-3" *ngFor="let number of numbers" >
                                                <div class="card" style="width: 18rem;">
                                                    <div class="card-body">
                                                      <h5 class="card-title">Card title</h5>
                                                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                                      <a href="#" class="btn btn-primary">Go somewhere</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                      </div>
                                      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Previous</span>
                                      </button>
                                      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Next</span>
                                      </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>           
        </div>
    </div>
</div>